@import url("https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css");
@import url("https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");

.cursive {
  font-family: "Amatic SC", cursive;
  font-weight: 700;
}

.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.home-name {
  font-size: 150px;
}
.visibility-name{
  display: none;
}
.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
}
.mobile-bar{
    display: none;
}

@media only screen and (max-width: 768px) {
  .visibility-name{
  display: block;
}
  .visibility-icon{
    display: none;
}
.mobile-bar{
  display: block;
    font-size: 1.8rem;
    cursor: pointer;
    color: #fff;
}

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 100px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }

  .nav-menu.active {
    background-image: linear-gradient(#1a3d5d,#143657);
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
}
